
.header_admin {
    height: 100%;
    margin-top: 10px;
}
.nav-link {
    font-size: 14px;
    color: gray;
    font-family: 'Poppins', sans-serif;
}
input{
    width:500px;
}

.form-search-admin{
    width:500px;
}

/* Nếu muốn custom thêm */
.custom-dropdown-menu button.dropdown-item:hover {
  background-color: #f0f0f0;
}
