.teacher-class-management-container {
    padding: 90px 20px 20px;
}

.teacher-class-management-header h1 {
    font-size: 24px;
    font-weight: 600;
    color: #000;
}

.teacher-class-management-item {
    width: 320px;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.teacher-class-management-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1) !important;
}

.teacher-class-item-image-container {
    background-color: #f0f0f0; 
}

.teacher-card-class-image {
    position: absolute;
    width: 80%;
    height: 80%;
    border-radius: 8px;
    background-color: #e0e0e0; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.teacher-class-card-back {
    transform: rotate(-10deg) translate(-10px, -10px);
    z-index: 1;
    background-color: #d1c4e9; 
}

.teacher-class-card-middle {
    transform: rotate(-5deg);
    z-index: 2;
    background-color: #b39ddb; 
}

.teacher-class-card-front {
    z-index: 3;
    background-color: #9575cd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.teacher-class-card-front img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.teacher-class-item-content {
    background-color: #fff;
}

.teacher-class-item-name {
    font-size: 1.2rem;
    color: #555;
}

.teacher-class-item-description {
    width: 275px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.teacher-class-item-number-st strong {
    color: #7e57c2;
}
