.profile-card {
  background-color: #f1f0fe;
  width: 320px;
  height: 705px;
  padding: 20px;
  border-radius: 12px;
  margin: 20px 0 0 30px;
  
}

.profile-card .user-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.user-info .avatar {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  margin-right: 12px;
  object-fit: cover;
  border: 2px solid #ddd;
}

.info-text .name {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
}

.info-text .email {
  font-size: 14px;
  color: #555;
  margin-top: 2px;
}

.profile-card .menu-item {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #B3B3B3;
  font-size: 14px;
  cursor: pointer;
  color: #555;
  background-color: #f1f0fe;
  transition: 0.3s ease;
}

.profile-card .menu-item i {
  margin-right: 10px;
}

.profile-card .menu-item:hover {
  color: #7b6ada;
}

.profile-card .menu-item.active {
  color: #7B6ADA;
}