@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* Teacher List */
.teacher-section {
  background: white;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Quicksand', cursive;
}

.teacher-section h2 {
  color: #7B6ADA;
  font-size: 36px;
  margin-bottom: 90px;
  font-weight: bold;
}

.teachers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 80px;
  column-gap: 53px;
  padding: 20px;
}

.teacher-card {
  position: relative;
  height: 230px;
  width: 250px;
  background: #F1F0FE;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

.teacher-image {
  position: absolute;
  top: -60px;
  left: 65px;
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
}

.teacher-title {
  color: #6f42c1;
  font-size: 18px;
  margin: 65px 0 5px 0;
  font-weight: 400;
}

.teacher-name {
  font-size: 20px;
    margin: 15px 0;
    font-weight: 800;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-link {
  color: #7B6ADA;
  text-decoration: none;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.social-link:hover {
  color: #4a2d8a;
}

@media (max-width: 768px) {
  .teachers-container {
    flex-direction: column;
    align-items: center;
  }
  
  .teacher-card {
    width: 80%;
  }
}

/* Today's Goal */
.todays-goal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Quicksand', cursive;    
}

.todays-goal-title {
  color: #7B6ADA;
  font-size: 36px;
  margin-bottom: 30px;
  font-weight: bold;
}

.todays-goal-subcontainer {
  position: relative;
  width: 100%;
  padding: 25px 0;
  margin-bottom: 50px;
}

.todays-goal-background {
  position: absolute;
  right: 0;
  background: #F1F0FE;
  width: 70%;
  border-radius: 150px 0 0 150px;
}

.content-todays-goal {
  margin: 65px 0 0 150px;
}

.todays-goal-background p {
  color: #7B6ADA;
  font-size: 20px;
  margin-bottom: 35px;
}

.todays-goal-background button {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  font-size: 16px;
}

.img-todays-goal {
  position: absolute;
}

.todays-goal-list {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.todays-goal-item {
  width: 160px;
  height: 110px;
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.time-goal {
  color: #7B6ADA;
  font-size: 15px;
}

.content-goal {
  color: #7B6ADA;
  font-size: 18px;
  font-weight: 700;
}
/* Hero Section */
body {
  font-family: 'Quicksand', sans-serif;
}

.hero-section {
  background-color: #7B6ADA;
  color: white;
  padding: 100px 40px;
  border-bottom-right-radius: 120px;
  position: relative;
  overflow: hidden;
  min-height: 200px;
  margin-bottom: 70px;
  margin-top:-48px;
}

.hero-section .hero-content {
  max-width: 800px;
  margin-left: 100px;

}

.hero-content .hero-title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: 'Calistoga', cursive;

}

.hero-content .hero-subtitle {
  font-family: 'Calistoga', cursive;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 16px;
}

.hero-content .hero-divider {
    border: 1px solid white;
    width: 100%;
    max-width: 280px; 
    margin-left: 0;
    margin-bottom: 20px;
  }
  

.hero-content .hero-description {
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  color: #e0dff2;
}

.hero-section .hero-decor {
  position: absolute;
  border: 2px solid white;
  border-radius: 50%;
}

.hero-section .hero-decor-bottom-left-1 {
  bottom: -147px;
  left: -55px;
  width: 240px;
  height: 240px;
}

.hero-section .hero-decor-bottom-left-2 {
  bottom: -134px;
  left: -80px;
  width: 240px;
  height: 240px;
}

.hero-section .hero-decor-bottom-right-1 {
  bottom: -138px;
  right: 31px;
  width: 240px;
  height: 240px;
}

.hero-section .hero-decor-bottom-right-2 {
  bottom: -125px;
  right: 50px;
  width: 200px;
  height: 200px;
}

/* Course List */
  .course-section {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
  }
  
  .course-section .course-list {
    display: flex;
    justify-content: center;
    gap: 90px;
    flex-wrap: wrap;
  }
  
  .course-list .course-card {
    position: relative;
    background-color: #F1F0FE;
    width: 260px;
    padding: 80px 20px 30px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    transition: transform 0.3s;
  }
  
  .course-list .course-card:hover {
    transform: translateY(-5px);
  }
  
  .course-card .icon-circle {
    position: absolute;
    top: -82px;
    left: 95%;
    transform: translateX(-50%);
    width: 140px;
    height: 140px;
    background-color: #7B6ADA;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .course-card .icon-circle img {
    width: 70px;
    height: 70px;
  }
  
  .course-list .course-content {
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .course-content .course-title {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
    color: #111;
    padding: 0 10px;
  }
  
  .course-content .course-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
    padding: 0 10px;
  }
  
  .course-content .explore-btn {
    background-color: white;
    color: #7B6ADA;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    padding: 8px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100px;
  }
  
  .course-content .explore-btn:hover {
    background-color: #ece9ff;
  }
  
/* Course Hours */
.stats-section {
  display: flex;
  margin-top: 70px;
}

.stats-section .stat-box {
  display: flex;
  position: relative;
  background-color: #7b6ada;
  color: white;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  padding: 80px 70px 60px;
  gap: 120px;
  overflow: hidden;
}

.stats-section .stat-box::before,
.stats-section .stat-box::after {
  content: "";
  position: absolute;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.stats-section .stat-box::before {
  width: 130px;
  height: 130px;
  top: -87px;
  left: 2px;
}

.stats-section .stat-box::after {
  width: 170px;
  height: 136px;
  top: -73px;
  left: -20px;
}

.stat-box .circle-right-1,
.stat-box .circle-right-2 {
  position: absolute;
  border: 2px solid #ffffff;
  border-radius: 50%;
  pointer-events: none;
}

.stat-box .circle-right-1 {
  width: 150px;
  height: 150px;
  bottom: -120px;
  right: 110px; 
}

.stat-box .circle-right-2 {
  width: 180px;
  height: 180px;
  bottom: -130px;
  right: 95px; 
}

.stat-box .stat-item {
  text-align: center;
}

.stat-box .stat-item h2 {
  font-size: 50px;
  margin-bottom: 4px;
  font-weight: bold;
  color: #ffffff;
}

.stat-box .stat-item p {
  font-size: 20px;
}
