body {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
    padding: 50px 20px;
  }
  
  .course-section {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
  }
  
  .course-section .course-list {
    display: flex;
    justify-content: center;
    gap: 90px;
    flex-wrap: wrap;
  }
  
  .course-list .course-card {
    position: relative;
    background-color: #F1F0FE;
    width: 260px;
    padding: 80px 20px 30px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    transition: transform 0.3s;
  }
  
  .course-list .course-card:hover {
    transform: translateY(-5px);
  }
  
  .course-card .icon-circle {
    position: absolute;
    top: -82px;
    left: 95%;
    transform: translateX(-50%);
    width: 140px;
    height: 140px;
    background-color: #7B6ADA;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .course-card .icon-circle img {
    width: 70px;
    height: 70px;
  }
  
  .course-list .course-content {
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .course-content .course-title {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
    color: #111;
    padding: 0 10px;
  }
  
  .course-content .course-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
    padding: 0 10px;
  }
  
  .course-content .explore-btn {
    background-color: white;
    color: #7B6ADA;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    padding: 8px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100px;
  }
  
  .course-content .explore-btn:hover {
    background-color: #ece9ff;
  }
  