.hero-section {
  background-color: #7B6ADA;
  color: white;
  padding: 100px 40px;
  border-bottom-right-radius: 120px;
  position: relative;
  overflow: hidden;
  min-height: 200px;
}

.hero-section .hero-content {
  max-width: 800px;
  margin-left: 100px;

}

.hero-content .hero-title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero-content .hero-subtitle {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 16px;
}

.hero-content .hero-divider {
    border: 1px solid white;
    width: 100%;
    max-width: 280px; 
    margin-left: 0;
    margin-bottom: 20px;
  }
  

.hero-content .hero-description {
  font-size: 1rem;
  color: #e0dff2;
}

.hero-section .hero-decor {
  position: absolute;
  border: 2px solid white;
  border-radius: 50%;
}

.hero-section .hero-decor-bottom-left-1 {
  bottom: -147px;
  left: -55px;
  width: 240px;
  height: 240px;
}

.hero-section .hero-decor-bottom-left-2 {
  bottom: -134px;
  left: -80px;
  width: 240px;
  height: 240px;
}

.hero-section .hero-decor-bottom-right-1 {
  bottom: -138px;
  right: 31px;
  width: 240px;
  height: 240px;
}

.hero-section .hero-decor-bottom-right-2 {
  bottom: -125px;
  right: 50px;
  width: 200px;
  height: 200px;
}
